/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #1f1f1f;
    color: white;
    height: 60px;
    align-items: center;
    
}

.logo{
    width: 20%;
    text-align: center;
    background-color: red;
}
.nav_item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    text-align: center;
    background-color: rgb(109, 109, 221);
}
.user{
    width: 20%;
    text-align: center;
    background-color: blueviolet;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_item > a{
    color: white;
    text-decoration: none;
    line-height: 60px;
    background-color: skyblue;
    width: 100%;
    
}
.nav_item > a:hover{
    background-color: mediumaquamarine;
}


#nav{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 60px;

}

.logo2{
    background-color: rgb(117, 117, 15);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_item2{
    background-color: violet;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.user2{
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_item2 > a{
    color: white;
    text-decoration: none;
    background-color: violet;
    line-height: 60px;
    width: 100%;
    text-align: center;
}
.nav_item2 > a:hover{
    background-color: blueviolet;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    background-color: rgb(241, 243, 244);
    
} 
.nav3{
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    background-color: brown;
    height: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}    

.logo3{
    /* background-color: blueviolet;    */
    display: grid;
    grid-template-columns: 1fr 4fr; 
}
.facebook > i{
    font-size: 40px;
    padding: 9px 0px 9px 9px;
    color: white;
}
.search-bar{
    padding: 7px ;
    
}
.search-bar input{
    height: 45px;
    width: 90%;
    border: 1px solid gray;
    border-radius: 25px;
    padding:10px 15px;
    
}
  

.nav_item3{
    /* background-color: rgb(176, 240, 173); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}
.nav_item3 > a{
    text-align: center;
    padding: 15px 40px;
    /* background-color: rgb(102, 197, 245); */
    border-radius: 10px;
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    
}
.nav_item3 > a:hover{
    background-color: rgb(241, 243, 244);
}
.nav_item3 > a > i{
    color: black;
}
.user3{
    /* background-color: rgb(126, 220, 244); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:1px;
}
.user3 > a{
    background-color: rgb(200, 208, 210);
    padding: 10px;
    border-radius: 50%;

}
.user3 > a:hover{
    background-color: white;
}
.user3 > a > i{
    color: black;
    font-size: 20px;
}